{% extends 'base.html' %}
{% block content %}

<style>
    #container{
        width:50%;
        box-shadow:0 3px 8px 0 rgba(0,0,0,0.2);
        height:auto;
        padding: 30px 20px 20px 20px;
        border-radius: 30px;
        margin-bottom: 20px;

    }
    #container h3{text-align:center;}
</style>
<div class=container id="container">
    <h3><strong>Login Profile</strong></h3>

    <form method='POST' enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-control">
            <input type="text" name="username" class="form-control" placeholder="Enter Username">
        </div>
            <div class="form-control">
            <input type="password" name="password1" class="form-control" placeholder="Enter Your Password">
        </div>


        <input type="submit" class="btn btn-primary" value="Login">

    </form>
</div>

{% endblock %}