{% extends 'base.html' %}
{% block content %}

<style>
    #container{
        width:50%;
        box-shadow:0 3px 8px 0 rgba(0,0,0,0.2);
        height:auto;
        padding: 30px 20px 20px 20px;
        border-radius: 30px;
        margin-bottom: 20px;

    }
    #container h3{text-align:center;}
</style>
<div class=container id="container">
    <h3><strong>Regiter Profile</strong></h3>

    <form method='POST' enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-cotrol">
        {% for field in register_form %}
        <label><strong>{{field.label}}</strong>
        </label>
        {{field}}
        <br>
        {% endfor %}
         </div>

        <input type="submit" class="btn btn-primary" value="Register">
        {{register_form.errors}}
    </form>
</div>
<script>
    let inputfields =document.getElementsByTagName('input')

    for(let i=0; i<inputfields.length; i++){
        inputfields[i].classList.add('form-control')
    }
</script>
{% endblock %}